{% extends sonata_block.templates.block_base %}

{% block block %}

    <div class="box {% if block.settings.containerClass is defined %}{{ block.settings.containerClass }} {% endif %}">
    {% if static_block %}
        {% set template = static_block.getTemplate() %}
        {% include template.getPath() %}
    {% endif %}
    </div>
{% endblock %}